{% if site.posts %}
<ul class="rows">
  {% assign home_posts = site.posts | where: "home", true %} {% for post in
  home_posts %}
  <li class="row__post">
    <a href="{{ site.url }}{{ post.url | relative_url }}">
      <div
        class="row__title {% if include.uid == post.id %}row__active{% endif %}"
      >
        {{ post.title }}
      </div>
    </a>

    {% if post.hover %} {% if post.hover contains ".mp4" %}
    <video
      class="row__hover"
      src="{{ post.hover }}"
      autoplay
      muted
      loop
      playsinline
    ></video>
    {% else %}
    <img class="row__hover" src="{{ post.hover }}" alt="{{ post.title }}" />
    {% endif %} {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
